@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-archivo: "Archivo", Helvetica, Arial, sans-serif;

  --color-blue-50: #edf9ff;
  --color-blue-100: #d6f0ff;
  --color-blue-200: #b5e6ff;
  --color-blue-300: #83d8ff;
  --color-blue-400: #48c2ff;
  --color-blue-500: #1ea4ff;
  --color-blue-600: #068aff;
  --color-blue-700: #007aff;
  --color-blue-800: #085dc5;
  --color-blue-900: #0d519b;
  --color-blue-950: #0e315d;
}
