<a href="files/Filip-Mucnjak-Resume.pdf" download class="btn btn-download mb-3 rounded-4 px-4 py-2 border"
   style="border: none; box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .3);">
    Download my resume
</a>

<Card Margin="mb-4">
    <Content>
        <ul class="nav nav-pills flex-row justify-content-between text-bg-dark">
            <NavBarLink
                Href="/"
                Icon="bi-person-circle"
                Text="Profile"/>

            <NavBarLink
                Href="/skills"
                Icon="bi-code-slash"
                Text="Skills"/>

            <NavBarLink
                Href="/experience"
                Icon="bi-person-workspace"
                Text="Experience"/>

            <NavBarLink
                Href="/education"
                Icon="bi-book"
                Text="Education"/>

            <NavBarLink
                Href="/projects"
                Icon="bi-kanban"
                Text="Projects"/>
        </ul>
    </Content>
</Card>