@inherits LayoutComponentBase

<div class="container vh-100">
    <div class="row vh-100">
        <div class="col mt-4">
            <NavBar/>

            <main class="mx-auto justify-content-center">
                @Body
            </main>
        </div>
    </div>
</div>