body {
    background-color: #293036;
    font-family: Inter, sans-serif;
}

.nav-link {
    color: #dee2e6 !important;
}

.active {
    background-color: #293036 !important;
    color: #dee2e6 !important;
}

.text-bg-primary {
    background-color: #293036 !important;
}