body {
    background-color: #434c5e;
    font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.nav-link {
    color: #dee2e6 !important;
}

.active {
    background-color: #434c5e !important;
    color: #dee2e6 !important;
}

.text-bg-primary {
    background-color: #2e3440 !important;
}

.card {
    background-color: #2e3440 !important;
}

.nav {
    background-color: #2e3440 !important;
}

.btn-download {
    background-color: #2e3440 !important;
    color: #dee2e6 !important;
}