@page "/education"

<div class="row mb-4">
    <div class="col-4">
        <Card Height="h-100" Padding="p-3">
            <Content>
                <h3>
                    Professional Master in Computer Engineering
                </h3>

                <div class="mb-3">
                    <span>SEPTEMBER 2022.</span> <i class="bi bi-arrow-right-short"></i> <span>CURRENT</span>
                </div>

                <div>Algebra University</div>

                <div>
                    <span class="d-block"><i class="bi bi-dot"></i> High expertise in C#, Java, Python and JavaScript</span>
                    <span class="d-block"> <i class="bi bi-dot"></i> Analysis and design of software solutions</span>
                    <span class="d-block"> <i class="bi bi-dot"></i> Advanced data analysis models</span>
                    <span class="d-block"> <i class="bi bi-dot"></i> Analysis and critical thinking</span>
                </div>
            </Content>
        </Card>
    </div>

    <div class="col-4">
        <Card Height="h-100" Padding="p-3">
            <Content>
                <h3>
                    Bachelor in Software Engineering
                </h3>

                <div class="mb-3">
                    <span>OCTOBER 2017.</span> <i class="bi bi-arrow-right-short"></i> <span>MARCH 2022.</span>
                </div>

                <div>Algebra University</div>

                <div>
                    <span class="d-block"><i class="bi bi-dot"></i> Object-oriented programming</span>
                    <span class="d-block"> <i class="bi bi-dot"></i> Internet technologies</span>
                    <span class="d-block"> <i class="bi bi-dot"></i> Mobile programming</span>
                    <span class="d-block"> <i class="bi bi-dot"></i> Computer networks</span>
                    <span class="d-block"> <i class="bi bi-dot"></i> Organization and management</span>
                </div>
            </Content>
        </Card>
    </div>

    <div class="col-4">
        <Card Height="h-100" Padding="p-3">
            <Content>
                <h3>
                    Technician for mechatronics
                </h3>

                <div class="mb-3">
                    <span>SEPTEMBER 2012.</span> <i class="bi bi-arrow-right-short"></i> <span>MAY 2016.</span>
                </div>

                <div>Fran Bošnjaković Mechanical Engineering School</div>

                <div>
                    <span class="d-block"><i class="bi bi-dot"></i> Programming in C</span>
                    <span class="d-block"> <i class="bi bi-dot"></i> Microcontrollers</span>
                    <span class="d-block"> <i class="bi bi-dot"></i> AutoCAD</span>
                </div>
            </Content>
        </Card>
    </div>
</div>

<div class="row">
    <div class="col">
        <Card Padding="p-3" Title="Certifications">
            <Content>
                <span class="d-block fs-5"><i class="bi bi-dot"></i> Microsoft Technology Associate: Software Development 2019</span>
                <span class="d-block fs-5"><i class="bi bi-dot"></i> Microsoft Technology Associate: Database Fundamentals 2019</span>
                <span class="d-block fs-5"><i class="bi bi-dot"></i> Microsoft Technology Associate: Introduction to Programming Using HTML and CSS 2019</span>
            </Content>
        </Card>
    </div>
</div>


@code {

}