@page "/error"

<Card Padding="py-5">
    <Content>
        <h4 class="text-center">
            <i class="bi bi-slash-circle d-block fs-1 mb-3"></i>
            Error 404 - the page you were looking for doesn't exist.
        </h4>
    </Content>
</Card>

@code {

}