@page "/not-found"

<Card Padding="py-5">
    <Content>
        <div class="text-center">
            <h4>
                <i class="bi bi-slash-circle d-block fs-1 mb-3"></i>
                404 Not Found
            </h4>

            <p class="m-0">
                The page you were looking for doesn't exist.
            </p>
        </div>
    </Content>
</Card>