@page "/other-skills"

<PageTitle>Other skills - Portfolio</PageTitle>

<div class="row mb-4">
    <div class="col">
        <Card Padding="p-3" Title="Soft skills">
            <Content>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0 ps-0">
                        <i class="bi bi-dot"></i>
                        <span class="fw-bold">Effective communication:</span>
                        <span>articulate communicator fostering collaboration and understanding</span>
                    </li>

                    <li class="list-group-item border-0 ps-0">
                        <i class="bi bi-dot"></i>
                        <span class="fw-bold">Self-awareness:</span>
                        <span>insightful and growth-oriented individual</span>
                    </li>

                    <li class="list-group-item border-0 ps-0">
                        <i class="bi bi-dot"></i>
                        <span class="fw-bold">Patience:</span>
                        <span>calm and tolerant in challenging situations</span>
                    </li>

                    <li class="list-group-item border-0 ps-0">
                        <i class="bi bi-dot"></i>
                        <span class="fw-bold">Open-mindedness:</span>
                        <span>embraces new ideas and perspectives</span>
                    </li>

                    <li class="list-group-item border-0 ps-0">
                        <i class="bi bi-dot"></i>
                        <span class="fw-bold">Problem solving and critical thinking:</span>
                        <span>analytical thinker adept at finding solutions</span>
                    </li>

                    <li class="list-group-item border-0 ps-0">
                        <i class="bi bi-dot"></i>
                        <span class="fw-bold">Time management:</span>
                        <span>efficient organizer and deadline-oriented</span>
                    </li>

                    <li class="list-group-item border-0 ps-0">
                        <i class="bi bi-dot"></i>
                        <span class="fw-bold">Collaboration and teamwork:</span>
                        <span>engages well in group settings to achieve common goals</span>
                    </li>

                    <li class="list-group-item border-0 ps-0">
                        <i class="bi bi-dot"></i>
                        <span class="fw-bold">Accountability:</span>
                        <span>takes ownership and delivers with reliability</span>
                    </li>

                    <li class="list-group-item border-0 ps-0">
                        <i class="bi bi-dot"></i>
                        <span class="fw-bold">Commitment to lifelong learning:</span>
                        <span>eager for continuous growth and skill development</span>
                    </li>
                </ul>
            </Content>
        </Card>
    </div>
</div>

<div class="row">
    <div class="col">
        <Card Padding="p-3" Title="Language skills">
            <Content>
                <h5 class="my-4">
                    <span class="text-muted small">Mother tongue:</span> <span class="fw-bold">Croatian</span>
                </h5>

                <h5 class="fw-bold">English</h5>
                <table class="table border rounded-5 text-center">
                    <caption class="small text-muted">
                        Levels: A1 and A2 - Basic user; B1 and B2 – Independent user; C1 and C2 – Proficient user
                    </caption>
                    <thead>
                        <tr>
                            <th class="small text-muted">
                                <i class="bi bi-ear me-1"></i>
                                Listening
                            </th>
                            <th class="small text-muted">
                                <i class="bi bi-book me-1"></i>
                                Reading
                            </th>
                            <th class="small text-muted">
                                <i class="bi bi-megaphone me-1"></i>
                                Spoken production
                            </th>
                            <th class="small text-muted">
                                <i class="bi bi-people me-1"></i>
                                Spoken interaction
                            </th>
                            <th class="small text-muted">
                                <i class="bi bi-pencil-square me-1"></i>
                                Writing
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fw-bold">C2</td>
                            <td class="fw-bold">C1</td>
                            <td class="fw-bold">C1</td>
                            <td class="fw-bold">B2</td>
                            <td class="fw-bold">C1</td>
                        </tr>
                    </tbody>
                </table>
            </Content>
        </Card>
    </div>
</div>

@code {

}