@page "/technical-skills"

<PageTitle>Technical skills - Portfolio</PageTitle>

<Card Padding="px-3 py-5" Margin="mb-4">
    <Content>
        <div class="row mb-5">
            <div class="col">
                <ImageText
                    Src="img/skills/dotnet.svg"
                    Alt=".NET logo"
                    Text=".NET"/>
            </div>
            <div class="col">
                <ImageText
                    Src="img/skills/blazor.svg"
                    Alt="Blazor logo"
                    Text="Blazor"/>
            </div>
            <div class="col">
                <ImageText
                    Src="img/skills/azure.svg"
                    Alt="Azure logo"
                    Text="Azure"/>
            </div>
            <div class="col">
                <ImageText
                    Src="img/skills/identity.svg"
                    Alt="Identity logo"
                    Text="Identity"/>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col">
                <ImageText
                    Src="img/skills/html.svg"
                    Alt="HTML logo"
                    Text="HTML"/>
            </div>
            <div class="col">
                <ImageText
                    Src="img/skills/css.svg"
                    Alt="CSS logo"
                    Text="CSS"/>
            </div>
            <div class="col">
                <ImageText
                    Src="img/skills/javascript.svg"
                    Alt="JavaScript logo"
                    Text="JavaScript"/>
            </div>
            <div class="col">
                <ImageText
                    Src="img/skills/bootstrap.svg"
                    Alt="Bootstrap logo"
                    Text="Bootstrap"/>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ImageText
                    Src="img/skills/docker.svg"
                    Alt="Docker logo"
                    Text="Docker "/>
            </div>
            <div class="col">
                <ImageText
                    Src="img/skills/kubernetes.svg"
                    Alt="Kubernetes logo"
                    Text="Kubernetes"/>
            </div>
            <div class="col">
                <ImageText
                    Src="img/skills/git.svg"
                    Alt="Git logo"
                    Text="git"/>
            </div>
            <div class="col">
                <ImageText
                    Src="img/skills/github.svg"
                    Alt="GitHub logo"
                    Text="GitHub"/>
            </div>
        </div>
    </Content>
</Card>

<Card Padding="p-3">
    <Content>
        <div class="mb-4">
            <span class="text-muted small me-3">
                <i class="bi bi-buildings me-1"></i>
                Architecture
            </span>

            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Layered architecture</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Vertical slice architecture</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Clean architecture</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Domain driven design</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6">Test driven development</span>
        </div>

        <div class="mb-4">
            <span class="text-muted small me-3">
                <i class="bi bi-flower2 me-1"></i>
                Pattern
            </span>

            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Dependency injection</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">CQRS & Mediator</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Repository</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Unit of work</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Factory</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6">Singleton</span>
        </div>

        <div class="mb-4">
            <span class="text-muted small me-3">
                <i class="bi bi-list-ol me-1"></i>
                Methodology
            </span>

            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">SOLID principles</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Clean code</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Agile</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Scrum</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6">Kanban</span>
        </div>

        <div>
            <span class="text-muted small me-3">
                <i class="bi bi-box2 me-1"></i>
                Other
            </span>

            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Windows</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Linux</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Word</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6 me-3">Excel</span>
            <span class="badge text-bg-primary p-3 rounded-4 fs-6">PowerPoint</span>
        </div>
    </Content>
</Card>

@code {

}