<div class="text-center">
    <img src="@Src" alt="@Alt" style="width: 4rem; height: 4rem;" class="mb-3"/>
    <h5>@Text</h5>
</div>

@code {

    [Parameter]
    public string Src { get; set; } = default!;

    [Parameter]
    public string Alt { get; set; } = default!;

    [Parameter]
    public string Text { get; set; } = default!;

}